// Mixins Here
.make-button(@background, @text-color, @border-radius, @font-size) {
  background: @background;
  color: @text-color;
  border-radius: @border-radius;
  text-align: center;
  font-size: @font-size;
}
